@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
background-color: #21213E;
;}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-yellow-500 rounded-xl;
}
